body {
background-image:url('gabriel-santiago-1596.jpg');
}

.main {
    font-family: 'Forum', cursive;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    -webkit-animation-duration: 4.7s;
    -webkit-animation-delay: 1s;
}

.main > h1 {
    font-size: 90px;
    font-family: 'Marck Script', cursive;
    font-style: italic;
    letter-spacing: 1.5px;
}
.main > h2 {
    letter-spacing: 2px;
    font-size: 35px;
    margin-top: -5px;
}

.main > i {

}
.main > span {
position: static;
    top: 23px;
    right: 53px;

}

a {
    color: white;
}

a:hover {
    color: black;
}
