body {
background-image:url('background.jpg');
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.main {
    font-family: 'Forum', cursive;
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 0.2s;
}

.main > h1 {
    font-size: 90px;
    font-family: 'Marck Script', cursive;
    font-style: italic;
    letter-spacing: 1.5px;
}
.main > h2 {
    letter-spacing: 2px;
    font-size: 35px;
    margin-top: -5px;
}

.main > span {
    position: static;
    top: 23px;
    right: 53px;

}

 a {
    color: white;
}

 a:hover {
    color: black;
}

.vertical-align {
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    top: 39%;
    transform: translate(-50%,  -50%);
}

.caption > p {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Forum', cursive;
    color: white;

}

.thumbnail > a:hover {
    font-style: italic;
    text-decoration: none;
 }

.thumbnail {
    background-color: transparent;
    border-color: transparent;
}

h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: 'Forum', cursive;
}

/*.contain{*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 83%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.contain:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 767px) {
    .vertical-align {
        top: 1%;
    }
    .header > h1 {
        color: black;
        font-weight: bolder;
    }
    .main > span {
        display: none;
     }
    h1 > span {
        color: black;
    }
}

@media only screen and (min-width: 768px) {
    .vertical-align {
        top: 1%;
    }
    .main > span {
        display: none;
    }
}


@media only screen and (min-width: 990px){
    .vertical-align {
        top: 30%;
    }
    .overlay {

    }
}